.list-item {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-radius: 5px;
  background-color: white;
  width: 90vw;
  margin-bottom: 5px;
  border: solid 1px black;
}

.li-main {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 90vw;
}

.li-img {
  padding: 10px;
  min-width: 150px;
  border: solid 1px #c6c5c5;
  border-radius: 3%;
  margin: 10px 30px 10px 10px;
}

.li-title {
  display: flex;
  align-items: center;
  flex: 1;
  color: black;
  font-family: HelveticaLTW05;
  font-size: 25px;
  font-weight: bold;
}

.content {
  overflow: hidden;
  display: none;
  width: 88vw;
  padding: 10px;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.trailer {
  min-width: 420px;
  height: 315px;
  margin-left: 10px;
}

.similar-items {
  display: flex;
  flex-direction: row;
  padding-top: 10px;
}

.similar-title {
  display: flex;
  flex: 1;
  justify-content: center;
  font-weight: bold;
  font-family: HelveticaLTW05;
  font-size: 20px;
}

.scroller {
  width: 86.5vw;
  overflow-x: scroll;
  padding: 10px;
  border-radius: 0.4%;
  border: solid 1px #c6c5c5;
}

.sentinel {
  width: 1px;
  height: 1px;
}
