.list-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 92.5vh;
  flex-direction: column;
  background-color: #f5f5f5;
  padding: 20px 0px;
}

.title {
  font-family: HelveticaTW05;
  font-size: 35px;
  font-weight: bold;
}

.search-container {
  display: flex;
  justify-content: flex-end;
  width: 90vw;
}

.search-input {
  width: 167px;
  height: 28px;
  padding: 0px 15px;
  margin-bottom: 25px;
  border-radius: 4px;
  border: solid 1px #c6c5c5;
}

.search-input:hover {
  border: solid 1px #00b1a4;
}

.search-input:focus-visible {
  outline: none;
  border: solid 2px #00b1a4;
}

.search-btn {
  width: 100px;
  height: 28px;
  margin-left: 20px;
  border-radius: 4px;
  border: solid 1px #00b1a4;
  background-color: white;
}

.search-btn:hover {
  border: solid 1.2px #33c1b6;
  background-color: #f5f5f5;
}

.search-btn:focus-visible,
.search-btn:active {
  outline: none;
  border: solid 2px #09a59a;
  background-color: #e0f5f4;
}

.search-btn-span {
  font-weight: bold;
  font-size: 13px;
  font-family: HelveticaTW05;
  color: #00b1a4;
  font-size: 0.9rem;
}

.scroller {
  height: 100vh;
  overflow-y: scroll;
  padding: 10px;
  border-radius: 0.4%;
  border: solid 1px #c6c5c5;
}

.sentinel {
  width: 1px;
  height: 1px;
}
